<div class="flex-v-container" id="main-window">
    <nav class="flex-none">
        <div class="nav-wrapper">
            <span class="brand-logo center">Automatan</span>
        </div>
    </nav>
    <div class="flex1 flex-h-container">
        <div class="flex2 flex-v-container"
             (dragover)="false" (dragleave)="false" (dragend)="false" (drop)="onDropFiles($event)">
            <table class="highlight flex-v-container">
                <thead>
                <tr><th data-field="fileName">{{files.length}} Files</th></tr>
                </thead>
                <tbody class="flex1 overflow-auto flex-v-container">
                <tr *ngFor="let file of files"><td><pre class="keep-font">{{file.targetName}}</pre></td></tr>
                </tbody>
            </table>
            <div class="flex-h-container flex1 flex-center">
                <h4 class="grey-text disable-select" *ngIf="files.length == 0">Drag & Drop files here</h4>
            </div>
            <div class="inner-padding border-top">
                <button class="waves-effect waves-light btn-flat right" (click)="clearFiles()">Clear</button>
            </div>
        </div>
        <div class="flex1 border-left flex-v-container inner-padding">
            <div class="flex1">
                <form>
                    <labeled-input
                            [input_id]="'raws_info'"
                            [input_label]="'Raws'"
                            [placeholder]="exceptionString(initialPattern.raws)"
                            [(value)]="targetPattern.raws"
                            (valueChange)="updateFiles()">
                    </labeled-input>
                    <labeled-input
                            [input_id]="'title_info'"
                            [input_label]="'Title'"
                            [placeholder]="exceptionString(initialPattern.title)"
                            [(value)]="targetPattern.title"
                            (valueChange)="updateFiles()">
                    </labeled-input>
                    <labeled-input
                            [input_id]="'episode_info'"
                            [input_label]="'Episode'"
                            [placeholder]="exceptionString(initialPattern.episode)"
                            [(value)]="targetPattern.episode"
                            (valueChange)="updateFiles()">
                    </labeled-input>
                    <labeled-input
                            [input_id]="'codec_info'"
                            [input_label]="'Codec'"
                            [placeholder]="exceptionString(initialPattern.codec)"
                            [(value)]="targetPattern.codec"
                            (valueChange)="updateFiles()">
                    </labeled-input>
                </form>
            </div>
            <div class="flex-none flex-hr-container" id="actions">
                <button class="btn-floating btn-large waves-effect waves-light z-depth-3 right" (click)="confirmChange()"><i class="material-icons">done</i></button>
            </div>
        </div>
    </div>
</div>